#imagem-brasil{
    width: 100px;
}

#conteudo-listas{
    text-align: left;
}
.subtitulo{
    border: solid blue 5px;
}

#link{
    color:red;
    text-decoration: none;
}

#link:hover{
    color: gold;
   
}